<launch>
	<include file="$(find aue_finals)/launch/turtlebot3_autonomy_final.launch"/>
	<include file="$(find darknet_ros)/launch/darknet_ros.launch"/>
	<node pkg="finalProject" type="stopsign.py" name="stopsign" output="screen"/>
  
  
	<!-- node pkg="finalProject" type="wallFollow_gazebo.py" name="Controller"/ -->


</launch>
