<launch>
  <!-- already made changes to launch file in aue_finals pkg to make it work right -->
  <include file="$(find aue_finals)/launch/turtlebot3_autonomy_final.launch"/>
  
  <!-- for line follow task I commented out wallFollow_gazebo.py -->
  <!-- node pkg="finalProject" type="wallFollow_gazebo.py" name="Controller"/ -->
  
  <node pkg="finalProject" type="lineTrack_gazebo.py" name="Controller"/>
</launch>


